
body {
    background-image: url('../images/fond.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: sans-serif;
}

h1, h2 {
    font-family: Monaco, Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.site-title {
    color: #000000; /* noir */
}

.container {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin-top: 50px;
}

.btn {
    font-size: 1.1em;
    padding: 0.75rem 1.5rem;
    margin: 1rem;
    border-radius: 8px;
}

#chat {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    height: 400px;
    overflow-y: auto;
    white-space: pre-wrap;
}

pre code {
    background: #f5f5f5;
    padding: 0.5em;
    display: block;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    overflow-x: auto;
}
code {
    background: #f0f0f0;
    padding: 0.1em 0.3em;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
}

.copy-button {
    margin-top: 5px;
    margin-bottom: 10px;
}

.CodeMirror {
    height: 150px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 0.95em;
}
